.App {
  width: 40%;
  margin: 2em auto;
  background-color: #394049;
  border-radius: 5px;
  color: white;
}
h2 {
  text-align: center;
}
.toDo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.form-toDo {
  padding: 1em;
  margin: 0 2em;
  border-bottom: 1px solid #2c3035;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 0.4em;
}

.form-control input {
  border: 1px solid #222;
  border-radius: 2px;
  background-color: #2c3035;
  padding: 0.5em;
  color: #dfdfdf;
}
button {
  width: 100%;
  display: block;
  background-color: #333;
  color: #eee;
  border: 1px solid #222;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
  color: black;
  border: 1px solid transparent;
  font-weight: bold;
}
.list-toDo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}
.toDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #4444;
}

.toDo-done {
  text-decoration: line-through;
  font-style: italic;
  color: #dfdfdf;
}

.toDo svg {
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 1em;
}
